@import url("https://fonts.bunny.net/css?family=manrope:400,500,700|lora:400,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default focus ring biru dari browser */
input:focus,
textarea:focus,
select:focus {
  @apply outline-none ring-2 ring-primary;
}


:root {
  --font-sans: 'Manrope', sans-serif;
  --font-serif: 'Lora', serif;
}

body {
  font-family: var(--font-sans);
}
