@import url("https://fonts.bunny.net/css?family=manrope:400,500,700|lora:400,700");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-sans: 'Manrope', sans-serif;
  --font-serif: 'Lora', serif;
}

body {
  font-family: var(--font-sans);
}
